<section class="footer">
  <div class="container">
      <div class="row py-5">
          <h3 class="">Get The FreshCart App</h3>
          <p class="lead">We will send you a link , open it on your phone to download the app .</p>
          <form [formGroup]="EmailForm">
            <div class="row">
              <div class="col-md-10 d-flex align-items-center">
                <mat-form-field class="w-100 ms-3 " appearance="outline">
                  <mat-label class="label-place">Email</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="Ex. pat@example.com"
                    class="w-100"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2  ">
                  <button class="btn bg-btn text-light ">Share App Link</button>
              </div>
            </div>

          </form>

          <hr class="my-3">
          <div class="row px-0 mx-0">
              <div class="col-md-6 align-items-center">
                  <div class="d-flex w-50 align-items-center justify-content-start">
                      <p class="w-50 mb-0 ">Payments Partners

                      </p>
                      <div class="w-50">
                          <img src="../../../assets/images/finalProject assets/payments.png" class="w-100" alt="">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 ">
                  <div class="d-flex align-items-center justify-content-end">
                      <p class="w-50 mb-0 ms-5 ps-5">Get deliveries with FreshCart

                      </p>
                      <div class="w-50">
                          <img src="../../../assets/images/finalProject assets/app.png" class="w-100" alt="">


                      </div>
                  </div>

              </div>
          </div>



      </div>
  </div>
</section>

